<h1>Show Svg</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, SvgEventsOnIosWeb.SvgLive.FormComponent,
    id: @svg.id,
    title: @page_title,
    action: @live_action,
    svg: @svg,
    return_to: Routes.svg_show_path(@socket, :show, @svg) %>
<% end %>

<ul>

</ul>

<span><%= live_patch "Edit", to: Routes.svg_show_path(@socket, :edit, @svg), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.svg_index_path(@socket, :index) %></span>
